<div>
  <h1 class="text-center"><b>Pick an event Bee</b></h1>

  {{#if eventBees}}
    <div class="row list-group">
      {{#each eventBees as |bee|}}
        <div class="item col-xs-4 col-lg-4">
          <div {{action "nextStep" bee on="click"}} class="thumbnail thumbnailbutton" style="background-color: {{bee.namespace.logocolor}}">
            <img class="group list-group-image" src= {{bee.namespace.image}} alt="" />
            <div class="caption">
              <h3 class="group inner list-group-item-heading">{{bee.name}}</h3>
              <p class="group inner list-group-item-text">{{bee.description}}</p>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{else}}
    <br/>
    <div class="alert alert-warning">
      None of your Bees provide an event. Check out the
      {{#link-to 'hives.all'}}available Hives{{/link-to}}
      and create one!
    </div>
  {{/if}}
</div>
