<div class="jumbo show-listing">
  <div class="row">
    <h3 class="title">Hive: <strong>{{hive.name}}</strong></h3>
  </div>

  <br/>
  <div class="form-horizontal form-group form-group-lg row well">
    <h4>Name:</h4> {{input value=name class="form-control" placeholder="Please enter a name"}}
    <br/>

    <h4>Description:</h4> {{textarea value=description class="form-control" placeholder="Please enter a description"}}
    <br/>
  </div>

  <div class="row">
    <h3 class="title">Settings</h3>
  </div>

  <div class="form-horizontal form-group form-group-lg row well">
    {{#each hive.options as |option|}}
      <h4 class="text-muted">{{option.Description}}</h4>
      <input type="text" oninput= {{action (action "updateOption" option) value="target.value"}} value= {{option.Value}} class="form-control" placeholder= {{option.Default}}>
      {{#if option.Mandatory}}
        <div class="alert alert-warning" role="alert">This is a required value</div>
      {{/if}}
      <br/>
      {{else}}
        No configuration needed.
    {{/each}}
  </div>

  <br/>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
      <button disabled= {{isDisabled}} {{action 'createBee'}} class="btn btn-primary btn-lg btn-block">Create Bee</button>
    </div>
  </div>

  {{#if errorMessage}}
    <br/>
    <div class="row alert alert-danger">{{errorMessage}}</div>
  {{/if}}
</div>
