<div>
  <h4>Running Bees</h4>
  <table class="table table-striped">
<!--    <caption>Bees</caption>-->
    <thead>
      <tr>
        <th>Name</th>
        <th>Namespace</th>
        <th>Description</th>
        <th>Last Event</th>
        <th>Last Action</th>
        <th>State</th>
      </tr>
    </thead>
    <tbody>
    {{#each bees as |bee|}}
      <tr>
        <td>{{#link-to "bees.show" bee.id}}{{bee.name}}{{/link-to}}</td>
        <td>{{bee.namespace.name}}</td>
        <td>{{bee.description}}</td>
        <td>
            {{#if bee.lastevent}}
            {{moment-from-now bee.lastevent}}
            {{else}}
            never
            {{/if}}
        </td>
        <td>
            {{#if bee.lastaction}}
            {{moment-from-now bee.lastaction}}
            {{else}}
            never
            {{/if}}
        </td>
        {{#if bee.active}}
            <td>Running</td>
            <td><button disabled={{isDisabled}} {{action 'stopBee' bee.id}} class="btn btn-danger btn-sm btn-block">Stop</button></td>
        {{else}}
            <td>Stopped</td>
            <td><button disabled={{isDisabled}} {{action 'startBee' bee.id}} class="btn btn-primary btn-sm btn-block">Start</button></td>
        {{/if}}
        <td class="td-centered"><button {{action 'deleteBee' bee}} class="btn btn-danger btn-sm btn-block">Delete</button></td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>

<br/>
<hr/>
<br/>

<div>
  <h4>Available Hives</h4>
  <table class="table table-striped">
<!--    <caption>Bees</caption>-->
    <thead>
      <tr>
        <th class="text-right">Image</th>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
    {{#each hives as |hive|}}
      <tr>
        <td class="text-right"><img height=32 src={{hive.image}}></td>
        <td>{{#link-to "hives.show" hive.id}}{{hive.name}}{{/link-to}}</td>
        <td>{{hive.description}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>

<br/>
<hr/>
<br/>
